.btn {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 15px;
    margin: auto;
    margin-top: 1%;
    border-style: none;
    border-radius: 8px;
    background-color: #222222;
    color: white;
    display: block;
    text-decoration: none;
}

.deck-btn {
    width: 80%;
}

.btn:hover {
    background-color: #3b3b3b;
}

.btn:active {
    background-color: rgb(132, 132, 132);
}

.scrollable {
    height: 300px;
    overflow-y: auto;
}

.card-hr {
    width: 80%;
    border-style: 1px solid #ff0000;
}

.card {
    background-color: #222222;
    margin: auto;
    width: 80%;
    color: white;
    text-align: center;
    border-radius: 20px;
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    height: 400px;
}



.container {
    text-align: center;
}



body {
    background-color: #4f4f4f;
    font-family: Arial, Helvetica, sans-serif;
}